.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rem;
}

.header-menu{
    list-style: none;
    gap: 2rem;
    color: white;
    display: flex;
}


.header-menu>li:hover{
    color: #e21554;
    cursor: pointer;
}

.right-h>btn{
    position : absolute;
    right: 3rem;
    top: 2rem;
    color: black;
}

